<ion-view has-tabs="true" has-header="true" title="About"  id="page11" >
  <ion-content padding="true" style="background: #e9ecee">

      <button style="background: #e9ecee;border:0px;" class="item item-thumbnail waves-effect waves-light no-border" onclick="window.open('http://ofwremit.us', '_system', 'location=no'); return false;">
        <img src="img/icon.png" width="150" height="150"></button>
<center>
      <button class="icon icon-brand17 button waves-effect waves-light waves-ripple" style="color:#00a8df;" onclick="window.open('https://twitter.com/smart_ofwremit', '_system', 'location=no'); return false;">
        Follow us
      </button>

      <button class="icon icon-brand14 button waves-effect waves-light waves-ripple" style="color:#1442aa;" onclick="window.open('https://www.facebook.com/smart.ofwremit', '_system', 'location=no'); return false;">
        Follow us
      </button>

      <button class="icon icon-brand19 button waves-effect waves-light waves-ripple" style="color:#249f61;" onclick="window.open('https://api.whatsapp.com/send?phone=66642423426', '_system', 'location=no'); return false;">
        Send WhatsApp
      </button>

      <button class="icon icon-brand15 button waves-effect waves-light waves-ripple" style="color:#0de51c;" onclick="window.open('http://line.me/ti/p/qMb03E8P_f', '_system', 'location=no'); return false;">Line CHAT</button>
      <button class="button button waves-effect waves-light waves-ripple" style="color:#5d2f8d;" ui-sref="slidebox1">How Smart Remit works?</button>
    </center
<div class"padding-top"></div>


  <div class="bar-footer bar-clear padding">
  <center>  v2.2.5 Copyright - Smart Remit  <br /> (Inri Int'l Pte Ltd Singapore - MAS Licensed) <br /></center>
    MAS - Monetary Authorisation in Singapore has authorise Smart Remit to do remittance and collect money and with the compliance only of the services that it offers under the terms and conditions agreed by the customer (i.e., limits of amount/transaction per day, verified customer information and legal purpose of transaction. Example: Prohibits use or transfer or topup of money of more than Php100,000 per transaction and customer must be level 3 verified.)
  </div>

  </ion-content>



</ion-view>
