<ion-view has-tabs="true" has-header="true" title="About"  id="page29" >
  <ion-content padding="true" style="background: #e9ecee">

      <button class="item item-thumbnail-center" onclick="window.open('http://ofwremit.us', '_system', 'location=no'); return false;">
        <img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1501208355/logo.png" width="250" height="55"></button>

      <button class="button button-block button-calm" onclick="window.open('https://twitter.com/ofwremit_us', '_system', 'location=no'); return false;">
        <i class="icon ion-social-twitter-outline"></i>
        Follow us on Twitter
      </button>

      <button class="button button-block button-positive" onclick="window.open('https://www.facebook.com/ofwremit.us', '_system', 'location=no'); return false;">
        <i class="icon ion-social-facebook-outline"></i>
        Follow us on Facebook
      </button>

      <button class="button button-block button-balanced" onclick="window.open('https://api.whatsapp.com/send?phone=66642423426', '_system', 'location=no'); return false;">
        Send Message on WhatsApp
      </button>

    <button class="button button-block button-energized" onclick="window.open('http://line.me/ti/p/qMb03E8P_f', '_system', 'location=no'); return false;">Line CHAT</button>


  </ion-content>


</ion-view>
