<ion-view style="has-header" class="categories-view" id="page28" title="Today's Exchange Rate">
  <ion-nav-buttons side="right">
    <!-- #3.  $root.extras -->
    <!-- #4.  get_total() -->
    <button ui-sref="about" ng-if="$root.extras" class="waves-effect button button-icon button-clear ion-android-more-vertical">

    </button>

  </ion-nav-buttons>
<!-- CONTENT -->

 <ion-content class="padding" id="exchange" style="background: #e9ecee">

  <div class="list card">
<!-- Thailand -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/th.jpg" style="width:50px;height:32px;left">
      </i>
    _1 THB = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/th.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- Taiwan -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/tw.jpg" style="width:50px;height:32px;left">
      </i>
    _1 TWD = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/tw.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!--Hongkong  -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/hk.jpg" style="width:50px;height:32px;left">
      </i>
    _1 HKD = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/hk.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- Japan -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/jp.jpg" style="width:50px;height:32px;left">
      </i>
    _10 JPY = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/jp.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- Singapore -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/sg.jpg" style="width:50px;height:32px;left">
      </i>
    _1 SGD = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/sg.png" style="width:90px;height:32px;left">
      </i>
  </a>


 <!-- Malaysia -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/my.jpg" style="width:50px;height:32px;left">
      </i>
    _1 MYR = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/my.png" style="width:90px;height:32px;left">
      </i>
  </a>


  <!-- Vientnam -->

  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/vn.jpg" style="width:50px;height:32px;left">
      </i>
    _1,000 VND = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/vn.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- South Korea -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/kr.jpg" style="width:50px;height:32px;left">
      </i>
    _100 KRW = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/kr.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- United Kingdom -->

  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/uk.jpg" style="width:50px;height:32px;left">
      </i>
       _1 GBP = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/uk.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- Indonesia -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/id.jpg" style="width:50px;height:32px;left">
      </i>
    _1,000 IDR = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/id.png" style="width:90px;height:32px;left">
      </i>
  </a>

  <!-- Europe -->
  <a class="item item-icon-left item-icon-right">
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/flag/eu.jpg" style="width:50px;height:32px;left">
      </i>
    _1 Euro = PHP
    <i class="icon"><img src="http://res.cloudinary.com/app-ofwremit/image/upload/v1502132512/exchange/eu.png" style="width:90px;height:32px;left">
      </i>
  </a>

</div>

	</ion-content>
</ion-view>
