<ion-view title="How Smart Remit works?"  id="page26">
  <ion-content style="background: url(img/back1.jpg) center; background-size: contain;" padding="false" scroll="false">
            <ion-slides style="background-color: #11f3db" options="options" slider="data.slider">

<ion-nav-view class="background: url(img/back1.jpg) center; background-size: cover;" $root.extras="false"> </ion-nav-view>

              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
                <h4 style="color: white"><center>
  <br />

    <br />
      <br />
          Your money

  <br />
   <br />
 </center></h4>
 <div style="height: 40px;" class="spacer"></div>
                <h5 style="color: white"><center>
          From Flat Currency (ex.USD/Euro)
  <br />
          Passes through a Crypto currency conversion system  <br />

          Transferred to Philippine currency under a secured recieving system.
  <br />
          Thus eliminating wire transfer charges, better conversion rates.

        </center></h5>
              </ion-slide-page>

              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
                <h4 style="color: white"><center>

                  <br />
                    <br />

                        Recieving oulet in Philippines
                  <br />

                </center></h4>

                <div style="height: 40px;" class="spacer"></div>
                <h5 style="color: white"><center>


                      We are tied to Banks in Philippines, Pawnshops/Remittance center nationwide, 70+ Utility bills.
                      As soon as your money is in our system, it will be processed during business hours 8am - 6pm.
                      Bank to bank will take upto 1-2 business days to be credited to your selected Bank.
                      The rest are instant as soon as we confirmed your request.

                </center></h5>
              </ion-slide-page>

              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
                <h4 style="color: white"><center>

                  <br />
                    <br />
                             Qualification for O-remit?
                  <br />

                </center></h4>
                <h5 style="color: white"><center>
                  <br />
                             You must be a Filipino. We will require, for first time use of our service, to verify ID just like you are sending with other remittance center.
                             Since we are dealing online. We require you to send your any government issued id and is valid and send to <i icon ion-ios-mail> support@ofwremit.us</i>
                  <br />


                </center></h5>
              </ion-slide-page>
              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
                <h4 style="color: white"><center>

                  <br />  <br />
                             Want to be our merchant?
                  <br />

                </center></h4>
                <h5 style="color: white"><center>
                  <br />
                        Sell your items on our listings.<br /
                        Contact us Subject: Merchant Application <i class="icon ion-ios-mail"> support@ofwremit.us</i>
                  <br /><br /><br />

                  <button class="waves-effect waves-ripple waves-float waves-classic button ion-android-close button-large button-stable" ui-sref="about">
                  </button>

                </center></h5>
              </ion-slide-page>

            </ion-slides>

            </button>
      </ion-content>
          </ion-view>
