<ion-view title="OFW Remit"  id="page32">
  <ion-content padding="false" scroll="false">
            <ion-slides style="background-color: #11f3db" options="options" slider="data.slider">

<ion-nav-view $root.extras="false"> </ion-nav-view>

              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
             <img src="img/Slide1.png" style="padding-right:80px;paddingtop:100px;" class="slidebox2">

              </ion-slide-page>


              <ion-slide-page style="background: url(img/back1.jpg) center; background-size: cover;">
              <center>  <img src="img/slide2.png" style="padding-right:80px;background-size: cover;" class="slidebox2" ui-sref="login">
                  </center>
              </ion-slide-page>
            </ion-slides>

      </ion-content>
          </ion-view>
