<ion-view title="Send Money"  id="page12">
  <ion-content style="background: #e9ecee;padding-top:20px;">

<div class="list card">
  <a class="item item-icon-left item-icon-right" ui-sref="sendtoPhone">
     <i class="icon calm ion-android-phone-portrait positive"></i>
    Send to Phone Number
      <i class="icon calm ion-ios-arrow-forward positive"></i>
  </a>
      <div style="height:5px;background: #e9ecee"></div>
  <a class="item item-icon-left item-icon-right" ui-sref="sendtoEmail">
    <i class="icon calm ion-ios-email-outline positive"></i>
    Send to Email
    <i class="icon calm ion-ios-arrow-forward positive"></i>
  </a>
     <div style="height:5px;background: #e9ecee"></div>
  <a class="item item-icon-left item-icon-right" ui-sref="sendtoWallet">
      <i class="icon calm ion-card positive"></i>
      Send to Wallet address
      <i class="icon calm ion-ios-arrow-forward positive"></i>
  </a>
     <div style="height:5px;background: #e9ecee"></div>
    <a class="item item-icon-left item-icon-right" ui-sref="sendPoints">
      <i class="icon calm icon-coin-dollar positive"></i>
      Send your points
      <i class="icon calm ion-ios-arrow-forward positive"></i>
    </a>
       <div style="height:5px;background: #e9ecee"></div>
Send to you or your recipient via:
    <a class="item item-icon-left item-icon-right" ui-sref="sendtoBanks">
       <i class="icon calm icon-library positive"></i>
         Send to Bank Acct (PH)
      <i class="icon calm ion-ios-arrow-forward positive"></i>
    </a>
        <div style="height:5px;background: #e9ecee"></div>
          <a class="item item-icon-left item-icon-right" ui-sref="cashPickup">
             <i class="icon calm icon-urbanize positive"></i>
               Cash-PickUp @ Remittance outlets (PH)
          <i class="icon calm ion-ios-arrow-forward positive"></i>
    </a>


</div>

<div style="height:60px;background: #e9ecee"></div>

</ion-content>
</ion-view>
